footer {
  padding: 71px 15px 0;
  @media (min-width: var(--breakpoint-tablet)) {
    padding: 66px 70px 0;
  }
  background-color: var(--hero-dark-grey);
  font-size: var(--body-font-size-s);
}

/* footer .footer {
  margin: auto;
} */

footer .footer p {
  margin: 0;
}
