@font-face {
  font-family: "tstar-regular";
  src: url("../fonts/tstar/TSTAR-PRO-Regular.ttf") format("truetype"), url("../fonts/tstar/TSTAR-PRO-Regular.woff") format("woff"), url("../fonts/tstar/TSTAR-PRO-Regular.woff2") format("woff2"), url("../fonts/tstar/TSTAR-PRO-Regular.eot") format("eot");
  font-display: swap;
}

/* T-star-Medium */
@font-face {
  font-family: "tstar-medium";
  src: url("../fonts/tstar/TSTAR-PRO-Medium.ttf") format("truetype"), url("../fonts/tstar/TSTAR-PRO-Medium.woff") format("woff"), url("../fonts/tstar/TSTAR-PRO-Medium.woff2") format("woff2"), url("../fonts/tstar/TSTAR-PRO-Medium.eot") format("eot");
  font-display: swap;
}

/* T-star-Bold */
@font-face {
  font-family: "tstar-bold";
  src: url("../fonts/tstar/TSTAR-PRO-Bold.ttf") format("truetype"), url("../fonts/tstar/TSTAR-PRO-Bold.woff") format("woff"), url("../fonts/tstar/TSTAR-PRO-Bold.woff2") format("woff2"), url("../fonts/tstar/TSTAR-PRO-Bold.eot") format("eot");
  font-display: swap;
}

/* T-star-Heavy */
@font-face {
  font-family: "tstar-heavy";
  src: url("../fonts/tstar/T-StarPro-Heavy.ttf") format("truetype"),
    url("../fonts/tstar/T-StarPro-Heavy.woff") format("woff"),
    url("../fonts/tstar/T-StarPro-Heavy.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "high-speed";
  src: url("../fonts/high-speed/highspeed.ttf") format("truetype"), url("../fonts/high-speed/highspeed.woff") format("woff"), url("../fonts/high-speed/highspeed.woff2") format("woff2"), url("../fonts/high-speed/highspeed.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-italic";
  src: url("../fonts/montserrat/montserrat-italic.ttf") format("truetype"), url("../fonts/montserrat/montserrat-italic.woff") format("woff"), url("../fonts/montserrat/montserrat-italic.woff2") format("woff2"), url("../fonts/montserrat/montserrat-italic.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat/montserrat-bold.ttf") format("truetype"), url("../fonts/montserrat/montserrat-bold.woff") format("woff"), url("../fonts/montserrat/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-semibold";
  src: url("../fonts/open-sans/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-light";
  src: url("../fonts/open-sans/OpenSans/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-medium";
  src: url("../fonts/open-sans/OpenSans/OpenSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fjalla-one";
  src: url("../fonts/fjalla-one/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "fa-brands-400";
  src: url("../fonts/monument/fa-brands-400.woff2") format("truetype");
}

@font-face {
  font-family: "fa-solid-900";
  src: url("../fonts/monument/fa-solid-900.woff2") format("truetype");
}

@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("../fonts/monument/MonumentExtended-Ultrabold.woff2") format("truetype");
}

@font-face {
  font-family: "robotocondensed-bold";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "robotocondensed-regular";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "fjalla-one";
  src: url("../fonts/fjalla-one/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat-alt";
  src: url("../fonts/montserrat-alternates/MontserratAlternates-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "oswald";
  src: url("../fonts/oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "space-outside";
  src: url("../fonts/space_outside/Space-Outside.otf") format("opentype");
}

@font-face {
  font-family: "amateur-naked";
  src: url("../fonts/amateur/Amateur-Naked.ttf") format("truetype");
}

@font-face {
  font-family: "inter-600";
  src: url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "inter-400";
  src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

:root {

 
  --font-montserrat-alt: "montserrat-alt";

 
  --font-space-outside: "space-outside";


  --font-amateur-naked: "amateur-naked";


  --font-open-sans: "open-sans";


  --font-open-sans-semibold: "open-sans-semibold";


  --font-open-sans-medium: "open-sans-medium";


  --font-open-sans-light: "open-sans-light";


  --font-tstar-regular: "tstar-regular";


  --font-tstar-medium: "tstar-medium";


  --font-tstar-bold: "tstar-bold";

  --font-tstar-heavy: "tstar-heavy";


  --font-high-speed: "high-speed";


  --font-montserrat-italic: "montserrat-italic";


  --font-montserrat-regular: "montserrat-regular";


  --font-montserrat-bold: "montserrat-bold";


  --font-fjalla-one: "fjalla-one";


  --font-fa-brands-400: "fa-brands-400";

  --font-fa-solid-900: "fa-solid-400";

  --font-monumentExtended-ultrabold: "MonumentExtended-Ultrabold";

  --font-robotocondensed-bold: "robotocondensed-bold";
  --font-robotocondensed-regular: "robotocondensed-regular";
}